
.header{
    height: 100vh;

}

.header_container{
    margin-top: 5rem;
    text-align: center;
    height: 100%;
   
    position: relative;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
   
    gap:1rem;
    margin-top: 3rem;
}
.btn1{
    background: var(--color-bg);
    color: var(--color-primary); 
   font-size: 1.35rem;
    font-weight: 500;
  
}

.btn2{
    font-size: 1.35rem;
    font-weight: 500;
    background: var(--color-bg-variant);
    color: var(--color-primary);

}
.button a:hover{
    font-size: 1.4rem;
    /* background: fixed; */
}
.box{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
   width: 100%;

}
.icons{
display: flex;
flex-direction: column;
position: relative;
left: 0;
justify-content: center;
align-items: center;
gap: 1rem;


}

.icons a{
    font-size: 1.2rem;
    /* gap: 2rem; */

}

.icons a:hover{
    font-size: 1.4rem;
    background: fixed;
}

.scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
}
.image{
    /* width: 22rem;
    height: 30rem; */
   
    background: linear-gradient(var(--color-bg-variant),transparent);
    margin-top: 2rem;
    border-radius: 9rem;
    height: max-content;
    
}
.scroll a:hover{
    background: var(--color-bg);
    transition: var(--transform);
    color: white;
    font-size: 1.2rem;
}



@media screen and (max-width:1024px){
    .container{
      width:var(--container-widht-md);
    }
    section{
      margin-top: 6rem;
    }
  }
  
  
  @media screen and (max-width:600px){
    header{
        height: 100vh;
    }
    .icons ,.scroll{
        display: none;
    }
    .image{
        width: 80vw;
    }
  }

  .icons::after{
    content: "";
    background: var(--color-bg-variant);
    width: 1px;
    height: 53px;

  }